*{
  padding: 1px;
  
}

[class*="col"] {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(253, 253, 253);
  color: rgb(255, 254, 254);
  text-align: center;
   font-size: 20px;
}
[class*="cl"] {
  background-color: rgb(7, 15, 44);
  align-items: center;
  margin-bottom: 3px;
 
}

.welcome,
h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(247, 180, 10);
  font-size: 35px;
}
.p-3 border {
  margin: 30px;
}

img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.all {
  background-color: rgb(7, 15, 44);
  align-items: center;
  width: 100%;
}
ul li {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.wp{
  background-color: white;
  height: 3px;
}


h5,
h3 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 50px;
}

h4 {
  background-color: rgb(21, 233, 248);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  padding-top: 7px;
}

.this {
  color: rgb(21, 233, 248);
  font-size: 32px;
}
h5 {
  /* color: white; */
  color: rgb(245, 177, 6);
  font-size: 15px;
  font-style: italic;
}
form {
  margin-left: 200px;
  margin-right: 50px;
}

.exam {
  font-size: 30px;
  color: white;
  display: space-around;
}
.seCexam {
  font-size: 30px;
  color: white;
}
p1 {
  background-color: rgb(21, 233, 248);
  border-radius: 5px;
  height: 30px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  font-weight: bold;
}

p2 {
  color: white;
  font-size: 15px;
}
p3 {
  color: blue;
  font-size: 17px;
  font-style: italic;
}
.contact {
  align-items: center;
  text-align: center;
  width: 100%;
}
p5 {
  color: rgb(66, 0, 247);
}
p6{
  color: rgb(0, 0, 0);
}
p8{

  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

footer {
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}








@media only screen and (min-width: 768px) {
  p7{
    font-size: 24px;
    /* color: black; */
    font-weight: bold;
   
  }

  .welcome,
h1 {
  
  font-size: 60px;
}

.message{
  font-size: 24px;
}

.offer{
  font-size: 24px;
}

ul li {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

}





@media only screen and (min-width: 1000px) {
  .all{
    width: 1000px;
    margin-right: 0px;
    
  }
   img{
     width: 80%;
     height: 10%;
     
   }
   *{
     padding-left: 70px;
   }
  
}